<ion-list>
  <ion-list-header>
    <ion-title> Fill in the button configuration Values </ion-title>
  </ion-list-header>
  <ion-item>
    <ion-input label="Height" labelPlacement="stacked" value="50px">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Width" labelPlacement="stacked" value="50px"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Background Color"
      labelPlacement="stacked"
      value="#2f2f2f"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="border radius" labelPlacement="stacked" value="20px">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="text Postition Horizontal"
      labelPlacement="stacked"
      value="center"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="text position vertical"
      labelPlacement="stacked"
      value="center"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="font style" labelPlacement="stacked" value="san-serif">
    </ion-input>
  </ion-item>
</ion-list>
