<ion-card>
  <ion-card-header>
    <ion-card-title> Select the Template of Intermediate </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    @if (templateType()==='nested') {

    <form [formGroup]="form">
      <ion-radio-group formControlName="template">
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/22/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="F0001">
            Template1
          </ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
        <ion-select
          formControlName="backgroundType"
          label="Select Background Style"
        >
          <ion-select-option value="backgroundColor"
            >Background Color</ion-select-option
          >
          <ion-select-option value="backgroundImage"
            >Background Image</ion-select-option
          >
        </ion-select>
      </ion-item>
      @if (form.get('backgroundImage')) {
      <ion-item>
        <ion-input
          formControlName="backgroundImage"
          type="text"
          label="Background Image URL"
          labelPlacement="stacked"
        >
        </ion-input>
      </ion-item>
      } @if (form.get('backgroundColor')) {
      <ion-item>
        <ion-input
          formControlName="backgroundColor"
          type="color"
          label="Background Color"
          labelPlacement="stacked"
          [style.height.px]="5"
        >
        </ion-input>
      </ion-item>
      }
    </form>
    }@else {
    <ion-text color="danger"
      ><p>The settings are disabled for this selected template..</p></ion-text
    >
    }
  </ion-card-content>
</ion-card>
