<form [formGroup]="form">
  <ion-item lines="full">
    <ion-label slot="start"> Screen Saver Status </ion-label>
    <ion-label slot="end">
      <ion-toggle formControlName="screenSaverStatus"></ion-toggle>
    </ion-label>
  </ion-item>
  @if (form.get('screenSaverOpt')) {

  <ion-card>
    <ion-card-header>
      <ion-card-title> Select the Type of Screen Saver </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group formControlName="screenSaverOpt">
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/22/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="singleImage">
            Single Image Ads
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/19/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="multiImage">
            Multiple Images Slider</ion-radio
          >
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  }
</form>
