<ion-card>
  <ion-card-header>
    <ion-card-title> Select the template </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form">
      <ion-radio-group
        formControlName="buttonType"
        [value]="form.value.buttonType"
      >
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/32/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="text-only">
            Text-only
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/19/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="image-only">
            Image-only
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img src="https://picsum.photos/id/43/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="textImage">
            Text Image
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </form>
  </ion-card-content>
</ion-card>
