<ion-list>
  <ion-list-header>
    <ion-title> Fill in the Header configuration Values </ion-title>
  </ion-list-header>
  <form [formGroup]="form">
    <ion-item>
      <ion-input
        type="number"
        label="Height"
        labelPlacement="stacked"
        formControlName="height"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="color"
        label="Background Color"
        labelPlacement="stacked"
        formControlName="backgroundColor"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="border radius"
        labelPlacement="stacked"
        formControlName="borderRadius"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        label="Text Position"
        labelPlacement="stacked"
        formControlName="textPosition"
      >
        <ion-select-option value="left">Left</ion-select-option>
        <ion-select-option value="center">Center</ion-select-option>
        <ion-select-option value="right">Right</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select
        label="Font Style"
        labelPlacement="stacked"
        formControlName="fontStyle"
      >
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="bold">Bold</ion-select-option>
        <ion-select-option value="italic">Italic</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-list>
