<ion-card>
  <ion-card-header>
    <ion-card-title> Select the Content Template </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form">
      <ion-radio-group
        formControlName="contentType"
        value="form.value.contentType"
      >
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/22/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="C0001">
            Content 1 slider
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-thumbnail
            ><img src="https://picsum.photos/id/19/200"
          /></ion-thumbnail>
          <ion-radio class="ion-margin-horizontal" value="C0010">
            Content 2 Grid</ion-radio
          >
        </ion-item>
      </ion-radio-group>
    </form>
  </ion-card-content>
</ion-card>
