<ion-card>
  <ion-card-header>
    <ion-card-title> Select the Content Template </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group value="template">
      <ion-item>
        <ion-thumbnail
          ><img src="https://picsum.photos/id/22/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> Content 1 slider </ion-radio>
      </ion-item>
      <ion-item>
        <ion-thumbnail
          ><img src="https://picsum.photos/id/19/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> Content 2 Grid</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title> Select the Content Backgroud style </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group value="template">
      <ion-item>
        <ion-thumbnail
          ><img src="https://picsum.photos/id/22/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> background color </ion-radio>
      </ion-item>
      <ion-item>
        <ion-thumbnail
          ><img src="https://picsum.photos/id/19/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> Background Image</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>
