<ion-card>
  <ion-card-header>
    <ion-card-title> Select the template </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group value="template">
      <ion-item>
        <img src="https://picsum.photos/id/1/100" />
        <ion-radio class="ion-margin-horizontal"> Nested Filter </ion-radio>
      </ion-item>
      <ion-item>
        <img src="https://picsum.photos/id/1/100" />
        <ion-radio class="ion-margin-horizontal"> List Filter </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>
