<ion-card>
  <ion-card-header>
    <ion-card-title> Select the header Template </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group value="template">
      <ion-item>
        <ion-thumbnail
          ><img src="https://picsum.photos/id/22/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> header 1 </ion-radio>
      </ion-item>
      <ion-item>
        <ion-thumbnail
          ><img src="https://picsum.photos/id/19/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> header 2 </ion-radio>
      </ion-item>
      <ion-item>
        <ion-thumbnail>
          <img src="https://picsum.photos/id/42/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> header 3 </ion-radio>
      </ion-item>
      <ion-item>
        <ion-thumbnail>
          <img src="https://picsum.photos/id/43/200"
        /></ion-thumbnail>
        <ion-radio class="ion-margin-horizontal"> header 4 </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>
